
<section>
	<div id="picturebar">
		<img src="../../resources/images/tausta.jpg" alt="tausta" id="tausta"></img>
		<img id="entityImg"></img>
		<div id="infodiv">
			<h1 id="entityName"></h1>
			<h2 id="entityRole"></h2>
		</div>
	</div>
    <div id="message">
      <div id="message-shown">
        <input type="text" id="messageField" placeholder="Leave a message here"/>
      </div>
      <div id="message-hidden" hidden>
      	<label>Link</label><br/>
        <input type="url" id="linkField" placeholder="http://"/><br/>
        <label>Long Content</label><br/>
        <textarea id="contentField"></textarea>
        <div id="sendMessageBox"><a id="sendMessage" href="#">+</a></div>
        <div id="closelink"><a id="close" href="#">close</a></div>
      </div>
</section>
<section class="clear">
	<div>
		<ul id="thelist">
		</ul>
	</div>

</section>