#main {
  position: relative;
  /* top defined in /controllers/global/bar.js */
}

#bar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  display: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 3px;
  /* height defined in /controllers/global/bar.js */
}

#logoArea {
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}

#searchArea {
  position: relative;
  margin: auto;
  width: 50%;
  padding-top: 20px;
}

#searchInput {
  width: 100%;
}



* {
  	-webkit-user-select: none; 
   /* Disable selection/Copy of UIWebView when tapping for a long time */
}

input {
  	-webkit-user-select: text;  /* Allow selection for input elements */
}

textarea {
	-webkit-user-select: text; 
}

p {
  	margin: 1em 0em;
}

div#message {
	margin: 10px;
	border: thin solid black;
}

div#message-hidden {
	margin: 10px;
}

div#message-shown > input {
	border-left: 0;
	border-top: 0;
	margin-left: 0;
	width: 90%;
}

button#sendmessage  {
	background: white;
	border: thin solid black;
	width: 10%;
	height: 100%;
}

div#message-hidden > label, div #message-hidden > input {
	margin: 1px;
	width: 80%;
}
