li {
	list-style-type: none;
}


#main, html, body {
  /* top defined in /controllers/global/bar.js */

  background: white;
}

#bar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	display: none;
	/* height defined in /controllers/global/bar.js */
}

#betweenBlackLines {
	height: 100%;
	margin-top: 3px;
	background: white;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 5px;
}

.barCell {
	height: 100%;
}


#logoArea {
	position: absolute;
	left: 0px;
	/* width defined in /controllers/global/bar.js */
}

#barLogo {
	margin-left: 3px;
	max-width: 77px;
	margin-top: 15px;
	max-height: 65px;
}

#searchArea {
	position: absolute;
	padding-left: 5%;
	padding-right: 5%;
	/* left and right defined in /controllers/global/bar.js */
}

#searchInput {
	margin-top: 17px;
}

#buttonArea {
	position: absolute;
	right: 0px;
	background-color: gray;
	/* width defined in /controllers/global/bar.js */
}


* {
  	-webkit-user-select: none; 
   /* Disable selection/Copy of UIWebView when tapping for a long time */
}

input {
  	-webkit-user-select: text;  /* Allow selection for input elements */
}

textarea {
	-webkit-user-select: text; 
}

p {
  	margin: 1em 0em;
  	word-wrap:break-word;
}


#sendMessageBox {
	padding: 6px;
	font-size: 20px;
	margin-top: 8px;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: thin solid rgba(0, 0, 0, .2);
	max-width: 60px;
	text-align: center;
	cursor: hand; cursor: pointer;
}

#closelink {
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

div#message {
	margin: 10px;
	border: thin solid black;
}

div#message-hidden {
	margin: 10px;
	margin-bottom: 0;
}

div#message-shown > input {
	font-size: 13px;
	border-left: 0;
	border-top: 0;
	margin: 0;
	margin-left: 0;
}

#faillogin {
	color: red;
}

#loginDiv {
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 400px;
	text-align: center;
	border-radius: 5px;
}

#loginImg {
	width: 60%;
	max-width: 300px;
	margin-bottom: 20px;
}

#loginButton {
	border: thin solid rgba(0, 0, 0, .2);
	text-align: center;
	cursor: hand; cursor: pointer;
	background: whitesmoke;
	padding: 15px;
	font-size: 16px;
	border-radius: 5px;
}

#loginsection {
}

div#message-hidden > label, div #message-hidden > input {
	margin-top: 8px;
	margin: 1px;
	width: 80%;
}



section#searchResults {
	padding: 10px;
	vertical-align: middle;
}

section#searchResults > h1 {
	text-align: center;
	/*margin: 5px;*/
	padding: 5px;
	color: slategrey;
	font-size: 14px;
	background-color: #F7F7F7;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

.searchCategory > li > p {	
	display: inline-block;
	vertical-align: middle;
	margin-left: 10%;
	width: 55%;
}

.searchCategory > li {
	border:	thin solid lightgray;
}

.searchCategory {
	margin-left: 10px;
	margin-right: 10px;
/*	padding: 2px;*/
	margin-right: auto;
	margin-left: auto;
	list-style: none;
	/*border: thin solid black;*/
	max-width: 710px;
}

.clear {
	clear:both;
}
.floatL {
	float:left;
}
.searchImages,.emptySearchImages{
	display: inline-block;
	vertical-align: middle;
	border: thin solid black;
	width:15%;
	margin: 2px;
	max-width: 300px;
}
#picturebar {
	text-align: center;
	border: thin solid lightgray;
}
#tausta {
	max-width: 710px;
	margin-left: 10px;
	margin-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

#entityImg {
	width: 50%;
	max-width: 200px;
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -25%;
}

#infodiv {
	position: relative;
	text-align: center;
	top: -70px;
	left: 50%;
	width: 100%;
	margin-left: -50%;
}

#infodiv + #message {
	padding-top: 0;
	margin-top: 0;
}

.unandmsg {
	display:inline-block;
	vertical-align: middle;
	width: 80%;
	margin-left: -3%;
}
.eventElem > img {
	display:inline-block;
	width: 15%;
	max-width: 300px;
	vertical-align: middle;
	margin: 0.5%;
}
.sendandre {
	display:inline-block;
	margin-left: 5%;
	font-size: 0.8em;
	font-weight: bolder;
}
.message_content {
	margin-left: 5%;
}
#thelist > li {
	border: thin solid grey;
	margin: 0.5%;
	list-style: none
}
#wrapper {
	margin:10px;
}
#searchdiv {
    width: 50%;
    display: inline-block;
}

#headerimg {
    width: 15%;
    max-width: 50px;
    float: left;
    position: relative;
    top: 5px;
    left: 5px;
}


#headerimg2 {
	width: 100%;

}
#header {
    text-align: center;
    vertical-align: middle;
}

.headerbtn {
    float:right;
}
.eventTime{
	font-size: 0.8em;
	font-weight: bolder;
	margin-left: 5%;
	margin-top:-1%;
}
#messageContent > img{
	vertical-align: top;
	display: inline-block;
	width:15%;
	margin: 10px;
}
#ipageFromAndSubject {
	vertical-align: middle;
	display: inline-block;
	width:70%;
	margin-top: 10px;
}
#ipageTime {
	font-size:0.8em;
}
#ipageMessage {
	border: thin solid grey;
	margin:10px;
}
#ipageComments {
	margin: 10px;
	border:thin solid grey;
}
#listOfComments {
	list-style: none;
}
#listOfComments > li {
	margin:10px;
}

#ipageContent {
	border-top: solid thin LightGray;
	margin:10px;
}
.commentWriter{
	display:inline-block;
	vertical-align: top;
}
.commentText{
	display:inline-block;
	vertical-align: middle;
	margin-left: 1%;
	width: 69%;
}
.commentTime{
	font-size: 0.8em;
	margin-top: -1%;
}

#leftbar_info {
	border: 1px solid #111;
	background: #333;
	vertical-align: middle;
}

#leftbar_info > img, #leftbar_info > div {
	vertical-align: middle;
}

#leftbar_info > img {
	width: 30%;
	padding: 5px;
	background: #333;
}

#leftbar_name_role {
	width: 65%;
	display: inline-block;
}

#leftbar_name_role > h1 {
	font-size: 20px;
}

#leftbar_name_role > h2 {
	font-size: 14px;
	color: lightgray;
}

#linklist {
	margin: 0;
}

.ui-panel-inner {
	padding: 0;
	background-color: #F7F7F7;
}

.ui-panel {
	position: fixed;
	width: 22em;
	
}

.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
	left: 0;
	-webkit-transform: translate3d(-22em,0,0);
	-moz-transform: translate3d(-22em,0,0);
	transform: translate3d(-22em,0,0);
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-top:20px;
    padding-bottom:20px;
}

.ui-body-c {
	background: white;
}

i {
	padding-right: 5px;
}

