<section class="well" id="formi">
  <div id="message" data-role="none">
    <div id="message-shown">
       <input type="text" id="inputField" placeholder="What are you working on?"/>
     </div>
    <div id="message-hidden" hidden>
       <label>Link</label><br/>
      <input type="url" id="linkField" placeholder="http://" />
      <div id="sendMessageBox"><a id="sendMessage" href="#">+</a></div>
      <div id="closelink"><a id="close" href="#">close</a></div>
    </div>
      
  </div>
  <div id="wrapper">
  	<div id="scroller">
  		<ul id="thelist">
  		</ul>
    </div>
  </div>
  <button id="showMessages">Show messages</button>
</section>
