<section class="well" id="formi">

  <h1>Welcome!</h1>
    <div id="message">
      <div id="message-shown">
        <input type="text" id="messageField" placeholder="What are you working on?"/>
        <button id="sendMessage">+</button>
      </div>
      <div id="message-hidden" hidden>
        <label>Link</label><br/>
        <input type="url" id="linkField" placeholder="http://" />
       </div>
    </div>
</section>
<section class="well">
  <div id="wrapper">
  	<div id="scroller">
  		<ul id="thelist">
  		</ul>
    </div>
  </div>
  <button id="showMessages" onClick="showMessages()">Show messages</button>
</section>
