<section id="bInfo">
	<div>
		<img id="profileImage" src=""></img>
	</div>
	<div>
		<h1></h1>
	</div>
</section>
<div data-role="collapsible-set">

	<div data-role="collapsible">
		<h3>Information</h3>
		<table>
			<tr>
				<td style='width:100px;'>Name:</td>
				<td d='infoName'>My name</td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td id='infoSurname'>My surname</td>
			</tr>
			<tr>
				<td>Lives in:</td>
				<td id='infoAddress'>My address</td>
			</tr>
			<tr>
				<td>Email_1:</td>
				<td id='infoEmail_1'>My email_1...</td>
			</tr>
			<tr>
				<td>......:</td>
				<td>...</td>
			</tr>
		</table>
	</div>
		
	<div data-role="collapsible">
		<h3>Links</h3>
				<table>
			<tr>
				<td style='width:100px;'>Name:</td>
				<td d='infoName'>My name</td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td id='infoSurname'>My surname</td>
			</tr>
			<tr>
				<td>Lives in:</td>
				<td id='infoAddress'>My address</td>
			</tr>
		</table>
	</div>
	<div data-role="collapsible">
		<h3>Frends</h3>
				<table>
			<tr>
				<td d='frined_1'>Friend_1 username</td>
			</tr>
			<tr>
				<td id='frined_2'>Friend_2 username</td>
			</tr>
			<tr>
				<td id='friend_3'>Friend_3 username</td>
			</tr>
		</table>
	</div>
		<div data-role="collapsible">
		<h3>Contact</h3>
		<table>
			<tr>
				<td style='width:100px;'>Phone:</td>
				<td d='infoPhone'>Phone</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td id='infoSurname'>My Email</td>
			</tr>
			<tr>
				<td>Web link:</td>
				<td id='infoWebAddress'>My web address</td>
			</tr>
		</table>
	</div>
	
</div>



<!--<div id ="messageContent">
	<img src=""></img>
</div>
</section>
<section id="ipageComments">
	<ul id="listOfComments">
	</ul>
</section>
<section id="commentArea">
	<textarea id="" class='commentArea' placeholder='Add your comment here' rows=1></textarea>
	<div id="sendMessageBox" hidden class="addComment"><a class="addComment" href="#">+</a></div>
</section>-->
