<section id="bInfo">
	<table>
		<tr>
			<td><img id="profileImage" style="width:150px;" src=""></img></td>
			<td><h1 id="Username">Username:</h1></td>
		</tr>
	</table>
	
</section>
<div id='userData' data-role="collapsible-set">
	<div id='informations' data-role="collapsible">
		<h3>Informations</h3>
		<table>
			<tr>
				<td style='width:100px;'>Name:</td>
				<td id='infoName'>-</td>
			</tr>
			<tr>
				<td>Sex:</td>
				<td id='infoSex'>-</td>
			</tr>
			<tr>
				<td>Birthday:</td>
				<td id='infoBirthday'>-</td>
			</tr>
			<tr>
				<td>Language:</td>
				<td id='infoLanguage'>-</td>
			</tr>
			<tr>
				<td>Education:</td>
				<td id='infoEducation'>-</td>
			</tr>
		</table>
	</div>
		
	<div id='places' data-role="collapsible">
		<h3>Place</h3>
		<table>
			<tr>
				<td style='width:100px;'>Address:</td>
				<td id='infoAddress'>-</td>
			</tr>
			<tr>
				<td>City/State:</td>
				<td id='infoSityState'>-</td>
			</tr>
			<tr>
				<td>Longitude:</td>
				<td id='infoLongitude'>-</td>
			</tr>
			<tr>
				<td>Latitude:</td>
				<td id='infoLatitude'>-</td>
			</tr>
		</table>
	</div>
	<div id='links' data-role="collapsible">
		<h3>Links</h3>
		<table>
			<tr>
				<td td style='width:100px;'>Facebook:</td>
				<td><a id='infoFacebook' href='#'>-</a></td>
			</tr>
			<tr>
				<td td style='width:100px;'>Twitter:</td>
				<td><a id='infoTwitter' href='#'>-</a></td>
			</tr>
			<tr>
				<td td style='width:100px;'>Link page:</td>
				<td><a id='infoLinkpage' href='#'>-</a></td>
			</tr>
		</table>
	</div>
		<div id='contact' data-role="collapsible">
		<h3>Contact</h3>
		<table>
			<tr>
				<td style='width:100px;'>Phone:</td>
				<td id='infoPhone'>-</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><a id='infoEmail' href=''>-</a></td>
			</tr>
			<tr>
				<td>Home page:</td>
				<td><a id='infoHomePage' href='#'>-<a/></td>
			</tr>
		</table>
	</div>
	
</div>

