<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title id="appTitle">Dlivin app</title>

  <link rel="stylesheet" href="../../stylesheets/ratchet-steroids.css" />
  <link rel="stylesheet" href="../../stylesheets/jquery.mobile-1.3.1.min.css"

  <script src="../../javascripts/onerror.js"></script>
  <script src="../../appgyver/cordova.js"></script>
  <script src="../../components/steroids-js/steroids.js"></script>


  <script src="../../components/jquery/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).bind("mobileinit", function(){
      $.mobile.allowCrossDomainPages = true;
      $.support.cors = true;
    });
  </script>
  <script src="../../components/jquery/jquery.mobile.js"></script>

  <!-- our stuff -->

  <link rel="stylesheet" href="../../stylesheets/application.css" />


  <script src="../../models/models.js"></script>

  <script src="../../javascripts/debug.js"></script>
  <script src="../../controllers/global/application.js"></script>
  <script src="../../controllers/global/rest.js"></script>
  <script src="../../controllers/global/bar.js"></script>
  <script src="../../controllers/global/leftbar.js"></script>
  <script src="../../controllers/global/view.js"></script>
  <script src="../../controllers/global/parseandmessage.js"></script>
  <script src="../../controllers/<%= yield.controller %>.js"></script>

  

</head>

<body>
  <div data-role="page">

    <div data-role="panel" id="leftpanel" data-display="overlay">
      <div id="leftbar_info">
        <img id="leftbar_img"></img>
      <div id="leftbar_info">
        <h1 id="leftbar_name"></h1>
        <h2 id="leftbar_role"></h2>
      </div>
    </div>

    <div id="linklist"></div>

    </div>

	<div data-role="header" id="header" data-theme="c">
		<a href="#leftpanel" id="headerimg" class="ui-btn-left" ><img id="headerimg2" src="http://88.114.122.139:8080/job/web7.0/ws/dist/resources/images/logo-login.jpg" alt=""></a>
		<div id="searchdiv">
			<input type="search" name="search" id="searchInput" value="" data-mini="true" data-inline="true" />
		</div>
		<div class="ui-btn-right">
			<a href="#" data-role="button" data-icon="home" data-iconpos="notext" data-rel="dialog">View</a>
			<a href="#" data-role="button" data-icon="bars" data-iconpos="notext" data-rel="dialog">Menu</a>
		</div>   
    </div>

	<div data-role="content" id="main">
		<%= yield.view %>
	</div>
  </div>

</body>
</html>